

@media only screen and (max-width: 1200px) {
  .container {
    /*flex-basis: 40%;*/
    width: 35%;
  }
  
}

@media only screen and (max-width: 1000px) {
  .footer {
    /*flex-basis: 40%;*/
    display: block;
  }
  
  .footer div {
    margin-bottom: 5%;
  }
  
}

@media only screen and (max-width: 768px) {
  
  * {
    font-size: 18px;
  }

  .profile p {
    width: 100%;
  }

  .profile {
    padding: 10% 2%;
  }
  
 .nav {
    display: block;
    margin: 0 auto;
    padding: 2em;
  }

  .links li {
    display: block;
    margin: .4em;
    padding: 0;
  }

  .projects {
    padding: 2em 1em;
  }
  
  .container {
    width: 90%;
    flex-basis: 100%;
    margin: 5%;
  }
}
