@media only screen and (max-width: 1200px) {
    .footer * {
    flex-basis: 50%;  
  }
  
  .footer div {
    margin: .5em;
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-basis: 50%;
    width: 66%;
  }
  
}

@media only screen and (max-width: 768px) {
  
  * {
    font-size: 18px;
  }

  .profile p {
    width: 100%;
  }

  .profile {
    padding: 0 2%;
  }
  
 .nav {
    display: block;
    margin: 0 auto;
    padding: 2em;
  }

  .links li {
    display: block;
    margin: .4em;
    padding: 0;
  }

  .project {
    /*height: 450px;*/
    height: 50vh;
  }
  .projects,.nav {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 85%;
    flex-basis: 100%;
    margin: 0;
  }
}
