@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  text-align: center;
  font-family: 'Open Sans', monospace;
  margin: 0;
  padding: 0;
}

.nav li, ul {
  display: inline;
}

.nav li {
  font-size: 16px;
  padding-left: 20px;
}

a {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;  
}

.logo {
  font-weight: bold; 
  font-size: 24px;
}

li {
  list-style-type: none;  
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #1abc9c;
  padding: 100px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  padding: 75px;
}

.profile p, h1 {
  margin-bottom: 15px;  
}

.profile p {
  line-height: 24px;
  font-size: 16px;
  display: inline-block;
  position: relative;
  overflow-wrap: break-word;
  text-align: center;
  color: #555;
  width: 50%;
}

.profile h1 {
  font-weight: 700;
  font-size: 35px;
}

.image {
  margin: 0 auto;
  height: 156px;
  width: 156px;
  background: url('https://images.pexels.com/photos/258216/pexels-photo-258216.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.projects {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 460px;
  margin-left: 25px;
  margin-top: 30px;
  height: 350px;
  transition: all .7s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg);
  position: relative;
}

.project:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.project-caption {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  color: #555;
  margin-left: 10px;
  text-transform: uppercase;
}

.project-info {
  margin: 0 auto;
  transform: rotateY(180deg);
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  background: #1abc9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info p {
  width: 75%;
  margin: 0 auto;
  color: white;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2f2f2f;
  padding: 40px 90px 60px 90px;
}

.footer-section li, .footer-section li a {
  margin-bottom: 7px;
  font-size: 16px;
}

.footer * {
  margin: 0 auto;
  flex: 1 0 33.3%;
}

.footer-section li a {
  color: #1abc9c;  
}

.footer-section li a:hover {
  color: #7b7b7b;  
}

.footer-heading {
  color: white;
  font-size: 20px;
  text-transform:uppercase;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .footer-section {
    margin-bottom: 35px;
    
  } 
  
  .footer * {
    flex: 1 0 60%;  
  }
  
  .profile p {
    width: 100%;
  }

  .profile {
    padding-left: 10px;
    padding-right: 10px;
  }
 
 .nav {
    display: block;
    margin: 0 auto;
  }
  .links li {
    display: block;
    margin-bottom: 8px;
  }
  .links li a {
    margin-right: 25px;
  }
  .project {
    margin: 15px auto;
  }
  .project-caption {
    margin-left: 0;
  }
}